* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ffffff; /*Webpage background color*/
}

/*Header & Navigation Bar*/

nav {
    margin-right: 3%;
    background: none;
}
nav ul {
    display: flex;
    font-size: 23px;
    gap: 30px;
    list-style-type: none;
    padding-top: 7px;
    background: none;
}

.nav-link {
    text-decoration: none;
    color: #e7e7e7; /*Navigation and buttons color*/
    background: none;
    padding: 15px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #252525;
}

.header-container {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    padding: 20px;
    background-color: #111111; /*Header bar color*/
    padding: 40px 24px;
}

#dev-name {
    font-size: 15px;
    margin: auto;
    margin-left: 3%;
    color: #e7e7e7; /*Header title color*/
    background: none;
}

/*Removing the background on the bar elements*/

#dev-name, #dev-name h1,
nav, nav ul, nav li, nav a {
  background-color: transparent;
}

/*About Me Section*/
img {
    width: 350px;
    height: 350px;
    margin: 15px 4% 0 4%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.about-container {
    display: flex;
}

.section-title {
    font-size: 35px;
    margin-left: 3%;
}

.section-paragraph {
    font-size: 18px;
    margin: 15px 4% 0 4%;
    text-align: justify;
    line-height: 25px;
}

/*Projects Section*/
.projects {
    margin: 15px 5% 0 5%;
    border: 1px;
}

.sec-paragraph {
    margin: 15px 6% 0 6%;
}

/*Contact Me Section*/
address ul {
    display: flex;
    font-size: 20px;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
    padding: 25px;
}

address ul li a { /*Naming it is easier at this point*/
    text-decoration: none;
}

/*Footer*/
#footer-p{
    text-align: center;
}

